/* common style for all custom buttons */
.trustauth-button {
  -moz-image-region: rect( 0px 24px 24px  0px);
}

.trustauth-button:hover {
  -moz-image-region: rect(24px 24px 48px  0px);
}

[iconsize="small"] .trustauth-button {
  -moz-image-region: rect( 0px 40px 16px 24px);
}

[iconsize="small"] .trustauth-button:hover {
  -moz-image-region: rect(24px 40px 40px 24px);
}

.trustauth-disabled {
  color: #bbb;
}
